.notFound {
    display: flex;
    flex: 1 100%;
    align-items: center;
}

.notFound__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
}

.notFound__text_link {
    cursor: pointer;
    color: #ffd900;
}